[data-theme="freightconnect"] {
  color-scheme: light;

  /* Base colors */
  --b1: rgb(250, 251, 254); /* base-100 */
  --b2: rgb(232, 235, 245); /* base-200 */
  --b3: rgb(210, 217, 236); /* base-300 */
  --bc: rgb(51, 58, 74); /* base-content */

  /* Primary colors */
  --p: rgb(28, 42, 110); /* primary */
  --pc: rgb(250, 251, 254); /* primary-content */

  /* Secondary colors */
  --s: rgb(0, 92, 255); /* secondary */
  --sc: rgb(250, 251, 254); /* secondary-content */

  /* Accent colors */
  --a: rgb(135, 188, 255); /* accent */
  --ac: rgb(250, 251, 254); /* accent-content */

  /* Neutral colors */
  --n: rgb(51, 58, 74); /* neutral */
  --nc: rgb(250, 251, 254); /* neutral-content */

  /* Status colors */
  --in: rgb(0, 221, 255); /* info */
  --inc: rgb(250, 251, 254); /* info-content */
  --su: rgb(0, 218, 146); /* success */
  --suc: rgb(250, 251, 254); /* success-content */
  --wa: rgb(255, 196, 0); /* warning */
  --wac: rgb(250, 251, 254); /* warning-content */
  --er: rgb(255, 66, 66); /* error */
  --erc: rgb(250, 251, 254); /* error-content */

  /* Border radius */
  --rounded-box: 0.5rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1rem;

  /* Animation duration */
  --animation-btn: 0.25s;
  --animation-input: 0.2s;

  /* Border width */
  --border-btn: 1.5px;
  --tab-border: 1.5px;
  --tab-radius: 0.5rem;
}
